/* Header Styles */

.header {
  @include section(null);

  border-bottom: 1px solid var(--header-border-color);
}

.header__container {
  @include mq(tab) {
    padding: 16px 15px;
    justify-content: space-between;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq(desk) {
    width: 100%;
    margin-left: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include mq(desk) {
  }
}

.header__contact-link {
  font-weight: 500;
  @include mq(tab-only) {
    font-size: 12px;
    line-height: 1.17;
  }

  @include mq(desk) {
    padding: 26px 0;
  }
}

.header__hamburger-btn {
  min-width: 20px;
  padding: 0;
  background-color: transparent;
  // border: none;
  cursor: pointer;

  transition: color var(--animation);

  @include mq(desk) {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--main-accent-color);
  }
}
