.hero {
  margin-top: 1px;
}

.hero__container {
  // display: flex;
  // flex-direction: column;
  // gap: 32px;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero__title {
  font-size: 34px;
  line-height: 1;
  /* or 34px */
}
